apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: backend-data
  namespace: <NAMESPACE>
spec:
  accessModes: ["ReadWriteOnce"]
  resources:
    requests:
      storage: 10Gi
  storageClassName: <STORAGECLASSNAME>