apiVersion: v1
kind: Service
metadata:
  name: frontend
  namespace: <NAMESPACE>
spec:
  ports:
    - name: http
      nodePort: <NodePort>
      port: 80
      protocol: TCP
      targetPort: 80
  selector:
    app: frontend
  type: NodePort